
<html>
<head>
  <title></title>  
</head>
 <body style="background:#34495e"> 

<div class="navbar navbar-fixed-top" style="height:60px; background:#1A242F;">
 <a href = "#" class = "header_logo pull-left"><%= image_tag("logobig1.jpg",size:"120x59", alt: "logo") %></a>

  <div style="margin-left: 1055px; padding-top:0.3cm;">
                  <a href="#" class="btn btn-primary active">Register</a>
                  <a href="#" class="btn btn-primary active">Log In</a></div>
</div>

<div class="container">
<div>
 <!-- <link rel="stylesheet" type="text/css" href="assets/css/contact.css">  -->

 <div class = "row" id = "videobackground">
    
      <div class ="jumbotron" style="padding:55px 0px 0px 0px; background:none;margin-bottom:0.3cm;">
      <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
      
<iframe width="700" height="385" frameborder ="1"  style="margin-top:1%; border:none;" scrolling="no" src="https://lh3.googleusercontent.com/-vxn2qvtvwtM/Uzv9j3cgJkI/AAAAAAAAApg/ZrKfqJWfUL8/w700-h385-no/gold.jpg" name="imgbox" id="imgbox" frameborder="0" allowfullscreen>
<p>iframes are not supported by your browser.</p>
</iframe>
      </div>
    </div>
    
  </div> </div>

  

 <div class="allthumb" align="center">

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
      <a href="https://lh3.googleusercontent.com/-vxn2qvtvwtM/Uzv9j3cgJkI/AAAAAAAAApg/ZrKfqJWfUL8/w700-h385-no/gold.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-vxn2qvtvwtM/Uzv9j3cgJkI/AAAAAAAAApg/ZrKfqJWfUL8/w700-h385-no/gold.jpg"/></a>      
     </div>
    </div>

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
      <a href="https://lh3.googleusercontent.com/-MCmbMm6dxt4/Uzv9itjbQRI/AAAAAAAAApQ/2YcxzBqZCrY/w700-h385-no/finance.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-MCmbMm6dxt4/Uzv9itjbQRI/AAAAAAAAApQ/2YcxzBqZCrY/w700-h385-no/finance.jpg"/></a>      
      </div>
    </div>
    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
      <a href="https://lh5.googleusercontent.com/-y85f4vtZKv0/Uzv9ozVCs3I/AAAAAAAAAp0/AX7ROwG56q4/w700-h385-no/life-goal.jpg" target="imgbox"><img src="https://lh5.googleusercontent.com/-y85f4vtZKv0/Uzv9ozVCs3I/AAAAAAAAAp0/AX7ROwG56q4/w700-h385-no/life-goal.jpg"/></a>    
     </div>
    </div>

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
      <a href="https://lh3.googleusercontent.com/-g3PE8uE0jVo/Uzv9ph7dhYI/AAAAAAAAAqQ/bnPgOg4Pht0/w700-h385-no/marriage.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-g3PE8uE0jVo/Uzv9ph7dhYI/AAAAAAAAAqQ/bnPgOg4Pht0/w700-h385-no/marriage.jpg" /></a>     
      </div>
    </div>
    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
      <a href="https://lh6.googleusercontent.com/-peMFzFss5js/Uzv9jF3y38I/AAAAAAAAApk/HCe5_f5fTFI/w700-h385-no/emergency-fund.jpg" target="imgbox"><img src="https://lh6.googleusercontent.com/-peMFzFss5js/Uzv9jF3y38I/AAAAAAAAApk/HCe5_f5fTFI/w700-h385-no/emergency-fund.jpg" /></a>      
     </div>
    </div>

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
      <a href="https://lh3.googleusercontent.com/-wuBW66xd32o/Uzv9qexuDPI/AAAAAAAAAqM/EPUDncBr-Uk/w700-h385-no/tax1.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-wuBW66xd32o/Uzv9qexuDPI/AAAAAAAAAqM/EPUDncBr-Uk/w700-h385-no/tax1.jpg" /></a>     
      </div>
    </div>
    







    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
      <a href="https://lh5.googleusercontent.com/-UaBA-mVF-u8/Uzv9rW-g74I/AAAAAAAAAqk/M5CML76yF64/w700-h385-no/yield1.jpg" target="imgbox"><img src="https://lh5.googleusercontent.com/-UaBA-mVF-u8/Uzv9rW-g74I/AAAAAAAAAqk/M5CML76yF64/w700-h385-no/yield1.jpg" /></a>     
     </div>
    </div>

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
           <a href="https://lh3.googleusercontent.com/-0_WWG5RXGuQ/Uzv9qjgRLCI/AAAAAAAAAqU/SuC66xXz5N8/w700-h385-no/tax2.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-0_WWG5RXGuQ/Uzv9qjgRLCI/AAAAAAAAAqU/SuC66xXz5N8/w700-h385-no/tax2.jpg" /></a>
      </div>
    </div>
    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
         <a href="https://lh6.googleusercontent.com/-DirRYyK8Gak/Uzv9jNZu8zI/AAAAAAAAApU/W2em_Mj377E/w700-h385-no/coin.jpg" target="imgbox"><img src="https://lh6.googleusercontent.com/-DirRYyK8Gak/Uzv9jNZu8zI/AAAAAAAAApU/W2em_Mj377E/w700-h385-no/coin.jpg" /></a>
     </div>
    </div>

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
          <a href="https://lh6.googleusercontent.com/-t3ibkF4GiYI/Uzv9pBKyYTI/AAAAAAAAApw/KmJJdMdSLAY/w700-h385-no/paper-work.jpg" target="imgbox"><img src="https://lh6.googleusercontent.com/-t3ibkF4GiYI/Uzv9pBKyYTI/AAAAAAAAApw/KmJJdMdSLAY/w700-h385-no/paper-work.jpg" /></a>
      </div>
    </div>
    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
         <a href="https://lh5.googleusercontent.com/-t-j8aSENFhM/Uzv9p1HSsDI/AAAAAAAAAqA/GLFqc_7ZvLQ/w700-h385-no/stock.jpg" target="imgbox"><img src="https://lh5.googleusercontent.com/-t-j8aSENFhM/Uzv9p1HSsDI/AAAAAAAAAqA/GLFqc_7ZvLQ/w700-h385-no/stock.jpg" /></a>
     </div>
    </div>

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;">
         <a href="https://lh3.googleusercontent.com/-2xW-mdN4y9g/Uzv9rFPjQaI/AAAAAAAAAqg/U_doz54QNSY/w700-h385-no/tax3.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-2xW-mdN4y9g/Uzv9rFPjQaI/AAAAAAAAAqg/U_doz54QNSY/w700-h385-no/tax3.jpg" /></a>
      </div>
    </div>
    

  </div>        
</div>
           


  </body>

</script>


</html>