<html>
 <body>   

 <div class = "row" id = "videobackground">
    <div class="span6 offset1">
      <div class ="jumbotron">
      <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
      <iframe width="1100" height="615" frameborder ="1"  style="border:solid rgb(37,56,60) 25px" src="//www.youtube.com/embed/DqrN2kWPzPo?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    </div>
  </div>
  
  </body>
</html>