
<html>
<head>
  <title></title>  
</head>
 <body> 
 <link rel="stylesheet" type="text/css" href="assets/css/contact.css"> 

 <div class = "row" id = "videobackground">
    
      <div class ="jumbotron">
      <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
      
<iframe width="700" height="385" frameborder ="1"  style="margin-top:1%; border:none;" scrolling="no" src="https://lh3.googleusercontent.com/-vxn2qvtvwtM/Uzv9j3cgJkI/AAAAAAAAApg/ZrKfqJWfUL8/w700-h385-no/gold.jpg" name="imgbox" id="imgbox" frameborder="0" allowfullscreen>
<p>iframes are not supported by your browser.</p>
</iframe>
      </div>
    </div>
    
  </div>


  <div class="bs-example bs-example-tabs" style="background: rgb(207, 212, 213); padding-top:1cm;">
    <ul id="myTab" class="nav nav-pills nav-stacked" style="width:6%;margin-bottom:-6.5%;margin-left:2.5%; font: Verdana,Arial,Helvetica,sans-serif;font-weight: bold;text-align:center;">
      <li><a href="#image" data-toggle="tab" class="active" style="background:#9EA9A9;">Image</a></li>
      <li><a href="#video" data-toggle="tab" style="background:#9EA9A9;">Video</a></li>     
    </ul>

    <div id="myTabContent" class="tab-content">
      
      <div class="tab-pane fade in active" id="image">

<div class="container">  
  <div class="col-sm-8 col-lg-8">    
    <div class="well" style="width:180%; height:3cm; margin-left:-1.9cm;">     
    <div id="myCarousel" class="carousel slide">     
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
     
    <!-- Carousel items -->
    <div class="carousel-inner" style="height:2cm">
        
    <div class="item active">
        <div class="row">
          
         <div class="col-sm-2 col-lg-2">
          <a href="https://lh3.googleusercontent.com/-vxn2qvtvwtM/Uzv9j3cgJkI/AAAAAAAAApg/ZrKfqJWfUL8/w700-h385-no/gold.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-vxn2qvtvwtM/Uzv9j3cgJkI/AAAAAAAAApg/ZrKfqJWfUL8/w700-h385-no/gold.jpg"/></a>
        </div> 
         
         <div class="col-sm-2 col-lg-2">
          <a href="https://lh3.googleusercontent.com/-MCmbMm6dxt4/Uzv9itjbQRI/AAAAAAAAApQ/2YcxzBqZCrY/w700-h385-no/finance.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-MCmbMm6dxt4/Uzv9itjbQRI/AAAAAAAAApQ/2YcxzBqZCrY/w700-h385-no/finance.jpg"/></a>
        </div>
        <div class="col-sm-2 col-lg-2">
          <a href="https://lh5.googleusercontent.com/-y85f4vtZKv0/Uzv9ozVCs3I/AAAAAAAAAp0/AX7ROwG56q4/w700-h385-no/life-goal.jpg" target="imgbox"><img src="https://lh5.googleusercontent.com/-y85f4vtZKv0/Uzv9ozVCs3I/AAAAAAAAAp0/AX7ROwG56q4/w700-h385-no/life-goal.jpg"/></a>
        </div>
        <div class="col-sm-2 col-lg-2">
          <a href="https://lh3.googleusercontent.com/-g3PE8uE0jVo/Uzv9ph7dhYI/AAAAAAAAAqQ/bnPgOg4Pht0/w700-h385-no/marriage.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-g3PE8uE0jVo/Uzv9ph7dhYI/AAAAAAAAAqQ/bnPgOg4Pht0/w700-h385-no/marriage.jpg" /></a>
        </div>

          <div class="col-sm-2 col-lg-2">
          <a href="https://lh6.googleusercontent.com/-peMFzFss5js/Uzv9jF3y38I/AAAAAAAAApk/HCe5_f5fTFI/w700-h385-no/emergency-fund.jpg" target="imgbox"><img src="https://lh6.googleusercontent.com/-peMFzFss5js/Uzv9jF3y38I/AAAAAAAAApk/HCe5_f5fTFI/w700-h385-no/emergency-fund.jpg" /></a>
        </div>
        <div class="col-sm-2 col-lg-2">
          <a href="https://lh3.googleusercontent.com/-wuBW66xd32o/Uzv9qexuDPI/AAAAAAAAAqM/EPUDncBr-Uk/w700-h385-no/tax1.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-wuBW66xd32o/Uzv9qexuDPI/AAAAAAAAAqM/EPUDncBr-Uk/w700-h385-no/tax1.jpg" /></a>
        </div>
     

        </div><!--/row-fluid-->
    </div><!--/item-->
     
    <div class="item">
        <div class="row">
             <div class="col-sm-2 col-lg-2">
          <a href="https://lh5.googleusercontent.com/-UaBA-mVF-u8/Uzv9rW-g74I/AAAAAAAAAqk/M5CML76yF64/w700-h385-no/yield1.jpg" target="imgbox"><img src="https://lh5.googleusercontent.com/-UaBA-mVF-u8/Uzv9rW-g74I/AAAAAAAAAqk/M5CML76yF64/w700-h385-no/yield1.jpg" /></a>
        </div> 
         
         <div class="col-sm-2 col-lg-2">
          <a href="https://lh3.googleusercontent.com/-0_WWG5RXGuQ/Uzv9qjgRLCI/AAAAAAAAAqU/SuC66xXz5N8/w700-h385-no/tax2.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-0_WWG5RXGuQ/Uzv9qjgRLCI/AAAAAAAAAqU/SuC66xXz5N8/w700-h385-no/tax2.jpg" /></a>
        </div>
        <div class="col-sm-2 col-lg-2">
          <a href="https://lh6.googleusercontent.com/-DirRYyK8Gak/Uzv9jNZu8zI/AAAAAAAAApU/W2em_Mj377E/w700-h385-no/coin.jpg" target="imgbox"><img src="https://lh6.googleusercontent.com/-DirRYyK8Gak/Uzv9jNZu8zI/AAAAAAAAApU/W2em_Mj377E/w700-h385-no/coin.jpg" /></a>
        </div>
        <div class="col-sm-2 col-lg-2">
          <a href="https://lh6.googleusercontent.com/-t3ibkF4GiYI/Uzv9pBKyYTI/AAAAAAAAApw/KmJJdMdSLAY/w700-h385-no/paper-work.jpg" target="imgbox"><img src="https://lh6.googleusercontent.com/-t3ibkF4GiYI/Uzv9pBKyYTI/AAAAAAAAApw/KmJJdMdSLAY/w700-h385-no/paper-work.jpg" /></a>
        </div>

          <div class="col-sm-2 col-lg-2">
          <a href="https://lh5.googleusercontent.com/-t-j8aSENFhM/Uzv9p1HSsDI/AAAAAAAAAqA/GLFqc_7ZvLQ/w700-h385-no/stock.jpg" target="imgbox"><img src="https://lh5.googleusercontent.com/-t-j8aSENFhM/Uzv9p1HSsDI/AAAAAAAAAqA/GLFqc_7ZvLQ/w700-h385-no/stock.jpg" /></a>
        </div>
        <div class="col-sm-2 col-lg-2">
          <a href="https://lh3.googleusercontent.com/-2xW-mdN4y9g/Uzv9rFPjQaI/AAAAAAAAAqg/U_doz54QNSY/w700-h385-no/tax3.jpg" target="imgbox"><img src="https://lh3.googleusercontent.com/-2xW-mdN4y9g/Uzv9rFPjQaI/AAAAAAAAAqg/U_doz54QNSY/w700-h385-no/tax3.jpg" /></a>
        </div>


        </div><!--/row-fluid-->
    </div><!--/item-->
     
    
     
    </div><!--/carousel-inner-->
     
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div><!--/myCarousel-->
     
    </div><!--/well-->
  </div>
</div>
           </div>
      
      <div class="tab-pane fade" id="video">      
<div class="container">  
  <div class="col-sm-8 col-lg-8">    
    <div class="well" style="width:140%; height:2cm">     
    <div id="myCarouselv" class="carousel slide">     
    <ol class="carousel-indicators">
        <li data-target="#myCarouselv" data-slide-to="0" class="active"></li>
        <li data-target="#myCarouselv" data-slide-to="1"></li>
        <li data-target="#myCarouselv" data-slide-to="2"></li>
    </ol>
     
    <!-- Carousel items -->
    <div class="carousel-inner" style="height:2cm">
        
    <div class="item active">
        <div class="row">
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/DqrN2kWPzPo?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-zHk_DCCQdPM/UzukmAPaXEI/AAAAAAAAAlE/6Me-_9w5tqg/w698-h382-no/vid1.png" /></a>
        </div>       
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/e3Se-2rGSww?rel=0" target="imgbox">
          <img src="https://lh3.googleusercontent.com/-9_4I_HfkrK0/Uzuuyj-9iEI/AAAAAAAAAmA/6eYMhITZp00/w700-h385-no/vid2.png" /></a>
        </div>        
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/vU1l1TB7GzI?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-Ntz8qDxqKxw/Uzz1Isva8QI/AAAAAAAAArk/D0uZwM4GQBk/w700-h385-no/vid3.jpg" /></a>
        </div>      
       <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/XnteA4JQw5I?rel=0" target="imgbox">
          <img src="https://lh3.googleusercontent.com/-oJfziKAB63g/Uzz5TEPGR6I/AAAAAAAAAsM/SkJUPS90koE/w700-h385-no/vid4.jpg" /></a>
        </div>  
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/TClxOiIgNO4?rel=0" target="imgbox">
          <img src="https://lh3.googleusercontent.com/-XdaQ-4TLQSk/Uzz9CazR4NI/AAAAAAAAAs8/HzCwZ7Agn9o/w700-h385-no/vid5.jpg" /></a>
        </div>   
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/ZybKUE4yW2Y?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-x8TO_0Ga-ig/Uzz9CfUrYYI/AAAAAAAAAtA/btVtZrC0QgU/w700-h385-no/vid6.jpg" /></a>
        </div> 

        </div><!--/row-fluid-->
    </div><!--/item-->
     

    <div class="item">
        <div class="row">
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/Q391Tp0QdTE?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-KphFC1zbsVU/Uz04tYVCdGI/AAAAAAAAAuo/XtA_DSvPjt0/w700-h385-no/vid7.jpg" /></a>
        </div>       
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/H1qLtMf5LJo?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-j2VRJopzWQ0/Uz04trPJkkI/AAAAAAAAAuo/KufOi90753U/w700-h385-no/vid8.jpg" /></a>
        </div>        
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/O3n_7C8CTPw?rel=0" target="imgbox">
          <img src="https://lh6.googleusercontent.com/-lB02vBAe2Pw/Uz04uhJm1eI/AAAAAAAAAuo/EfhQFpf6VbM/w700-h385-no/vid9.jpg" /></a>
        </div>      
       <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/E8CkCgJnqes?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-IHoGn0SPm7Y/Uz04sdI2y6I/AAAAAAAAAuo/lYTtT1mPq90/w700-h385-no/vid10.jpg" /></a>
        </div>  
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/3RU4y1JFzEI?rel=0" target="imgbox">
          <img src="https://lh4.googleusercontent.com/-fgpllISKl4w/Uz04sh--3-I/AAAAAAAAAuo/6hcMKYCcskc/w700-h385-no/vid11.jpg" /></a>
        </div>   
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/hjPBaU1qBqA?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-z3Cf--k_8Ns/Uz04sdoAHYI/AAAAAAAAAuo/1q3Egpt5KKg/w700-h385-no/vid12.jpg" /></a>
        </div> 

        </div><!--/row-fluid-->
    </div><!--/item-->
     
    <div class="item">
        <div class="row">
            
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/TRVb8d_1WOM?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-SEN3UAU9X7s/Uz0-aVxsE1I/AAAAAAAAAwE/FvXUfu4QfSI/w700-h385-no/vid13.jpg" /></a>
        </div>       
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/zwxnfqm_3J8?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-Q7et5nFJ3j0/Uz0-aefoh6I/AAAAAAAAAwE/iMH8zMgChgM/w700-h385-no/vid14.jpg" /></a>
        </div>        
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/Popt-7iPKVw?rel=0" target="imgbox">
          <img src="https://lh4.googleusercontent.com/-E78MMQiJ418/Uz0-aro2hUI/AAAAAAAAAwE/EFYb0tJh3bw/w700-h385-no/vid15.jpg" /></a>
        </div>      
       <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/g_kmjFPHNbY?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-5zOJXirJOYI/Uz0-bhvRbOI/AAAAAAAAAwE/ZIocg5JDS50/w700-h385-no/vid16.jpg" /></a>
        </div>  
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/f9tarrg2xyc?rel=0" target="imgbox">
          <img src="https://lh4.googleusercontent.com/-Wtos2p-SICQ/Uz0-cWLpY_I/AAAAAAAAAwE/VVv7r_ooS7w/w700-h385-no/vid17.jpg" /></a>
        </div>   
        <div class="col-sm-2 col-lg-2">
          <a href="//www.youtube.com/embed/Bpvg6_1y-WY?rel=0" target="imgbox">
          <img src="https://lh3.googleusercontent.com/-mIXuwiHQjAw/Uz0-cTMAnUI/AAAAAAAAAwE/Y84VCnTcB58/w700-h385-no/vid18.jpg" /></a>
        </div> 


        </div><!--/row-fluid-->
    </div><!--/item-->
     
    </div><!--/carousel-inner-->
     
    <a class="left carousel-control" href="#myCarouselv" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarouselv" data-slide="next">›</a>
    </div><!--/myCarousel-->
     
    </div><!--/well-->
  </div>
</div>



      </div>
     
    </div>
  </div>
 


  </body>

<script type="text/javascript">

$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})


$(document).ready(function() {
  $('#myCarousel').carousel({
  interval: 1000000
  })
});


</script>


</html>