

#bd_product{
	
	background: #000 ;
}

div#topframe .nav-tabs > li > a:hover
{ 
color: #fff !important;
background-color:#979998 !important;
}


table, td, th
{
background-color:#FFFFFF !important;
}
th
{
background-color: #C4E3F3 !important;
}

#topframe{
	background: #EEEEEE;
	width: 964px;
	margin: 0cm 0cm 0cm .5cm;
}