<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
       <form method="post" action="https://fundsnet.camsonline.com/ecrms/stp/fnStpSystematic.aspx">
               <input type="text" name="Usrcode" value="rupeevest" />
               <input type="text" name="pass" value="qwerty12!@" />
               <input type="file" enctype="multipart/form-data" name="Uploadfile"  />
               <input type="submit" />
       </form>
</body>
</html>

 


