
<html>
<head>
  <title></title>  
</head>
 <body style="background:#34495e"> 

<div class="navbar navbar-fixed-top" style="height:60px; background:#1A242F;">
  <div>
 <a href = "#" class = "header_logo pull-left"><%= image_tag("logobig1.jpg",size:"120x59", alt: "logo") %></a>
</div>
  <div style="margin-left: 1055px; padding-top:0.3cm;">
                  <a href="#" class="btn btn-primary active">Sign Up Now</a>
  </div>
</div>

<div class="container">
<div>
 <!-- <link rel="stylesheet" type="text/css" href="assets/css/contact.css">  -->

 <div class = "row" >
    
      <div class ="jumbotron" style="padding:75px 0px 0px 0px; background:none;">
      <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
      
<iframe width="700" height="385" frameborder ="1"  style="margin-top:1%; border:none;" scrolling="no" src="https://lh5.googleusercontent.com/-zHk_DCCQdPM/UzukmAPaXEI/AAAAAAAAAlE/6Me-_9w5tqg/w698-h382-no/vid1.png" name="imgbox" id="imgbox" frameborder="0" allowfullscreen>
<p>iframes are not supported by your browser.</p>
</iframe>
      </div>
    </div>
    
  </div> </div> 

<div style="position: absolute; margin:-400px 0px 0px 870px;background:#FFFFFF">
  <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Frupeevest&amp;width=250&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:290px;" allowTransparency="true"></iframe>
</div>

 <div class="allthumb" align="center" style="position:relative;">

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;box-shadow:none;">
      <a href="//www.youtube.com/embed/DqrN2kWPzPo?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-zHk_DCCQdPM/UzukmAPaXEI/AAAAAAAAAlE/6Me-_9w5tqg/w698-h382-no/vid1.png" /></a>
          <div class="caption" style="color:#FFFFFF;">
        <h5>RupeeVest Teaser</h5>
        </div>
     </div>
    </div>

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;box-shadow:none;">
      <a href="//www.youtube.com/embed/e3Se-2rGSww?rel=0" target="imgbox">
          <img src="https://lh3.googleusercontent.com/-9_4I_HfkrK0/Uzuuyj-9iEI/AAAAAAAAAmA/6eYMhITZp00/w700-h385-no/vid2.png" /></a> 
          <div class="caption" style="color:#FFFFFF;">
        <h5>How use RupeeVest</h5>
        </div>    
      </div>
    </div>

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;box-shadow:none;">
      <a href="//www.youtube.com/embed/vU1l1TB7GzI?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-Ntz8qDxqKxw/Uzz1Isva8QI/AAAAAAAAArk/D0uZwM4GQBk/w700-h385-no/vid3.jpg" /></a> 
          <div class="caption" style="color:#FFFFFF;">
        <h5>Short Film by Amol Gupte</h5>
        </div>  
     </div>
    </div>

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;box-shadow:none;">
      <a href="//www.youtube.com/embed/H1qLtMf5LJo?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-j2VRJopzWQ0/Uz04trPJkkI/AAAAAAAAAuo/KufOi90753U/w700-h385-no/vid8.jpg" /></a>
          <div class="caption" style="color:#FFFFFF; width:170px;margin-left:-1cm;">
        <h5>Difference between saving and investment?</h5>
        </div>   
      </div>
    </div>
    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;box-shadow:none;">
      <a href="//www.youtube.com/embed/TRVb8d_1WOM?rel=0" target="imgbox">
          <img src="https://lh5.googleusercontent.com/-SEN3UAU9X7s/Uz0-aVxsE1I/AAAAAAAAAwE/FvXUfu4QfSI/w700-h385-no/vid13.jpg" /></a>
          <div class="caption" style="color:#FFFFFF;">
        <h5>SIP and Benefits</h5>
        </div>    
     </div>
    </div>

    <div class="col-md-2" style="padding-right:1cm">
     <div class="thumbnail" style="background:none;border:none;box-shadow:none;">
      <a href="//www.youtube.com/embed/Popt-7iPKVw?rel=0" target="imgbox">
          <img src="https://lh4.googleusercontent.com/-E78MMQiJ418/Uz0-aro2hUI/AAAAAAAAAwE/EFYb0tJh3bw/w700-h385-no/vid15.jpg" /></a>
          <div class="caption" style="color:#FFFFFF; width:170px;margin-left:-1cm;">
        <h5>Asset Allocation using mutual funds</h5>
        </div>
      </div>
    </div>
    
    

  </div>        
</div>
           


  </body>

</script>


</html>